.PatchForm {
    text-align: center;
}

.PatchForm>table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.PatchForm>table>thead>tr>th{
    text-align: center;
}

.PatchForm>div{
    margin: 20px;
}

.PatchForm>button {
    padding: 5px, 10px;
    border: 1px solid;
    margin: 5px;
}