.Chat {}

.Chat>textarea {
    margin: 5px;
    pointer-events: None;
}

.Chat>input {
    margin: 5px;
    width: 40%;
}

.Chat>button {
    margin: 5px;
    border-radius: 20px;
}

.Chat>span {
    margin: 10px
}